@font-face {
    /* font-family: 'FiraMono-Regular'; */ /* src:
     * url('/Users/zFur/Library/Fonts/FiraMono-Regular') format('opentype'); */
     * /* src: url('/Users/zFur/Library/Fonts/FiraMono-MediumItalic')
     * format('opentype'); */ /* src:
     * url('/Users/zFur/Library/Fonts/FiraMono-Bold') format('opentype'); */
    /* font-family: 'FiraSans-Regular'; */
    /* src: url('/Users/zFur/Library/Fonts/FiraSans-Regular') format('opentype'); */
    /* src: url('/Users/zFur/Library/Fonts/FiraSans-BookItalic') format('opentype'); */
    /* src: url('/Users/zFur/Library/Fonts/FiraSans-Bold') format('opentype'); */
    font-family: 'Courier New';
    src: url('/Library/Fonts/Courier New') format('truetype');
    font-family: 'SourceCodePro';
    src: url('/Users/zFur/Library/Fonts/SourceCodePro-Regular') format('truetype');
    src: url('/Users/zFur/Library/Fonts/SourceCodePro-It') format('truetype');
    src: url('/Users/zFur/Library/Fonts/SourceCodePro-Bold') format('truetype');
    font-family: 'Biolinum';
    src: url('/Users/zFur/Library/Fonts/LinBiolinum_R.otf') format('opentype');
    src: url('/Users/zFur/Library/Fonts/LinBiolinum_RB.otf') format('opentype');
    src: url('/Users/zFur/Library/Fonts/LinBiolinum_RI.otf') format('opentype');
    /* src: url('/Library/Fonts/Courier New') format('truetype'); */
    /* font-family: 'FiraSans-Regular'; */
    /* src: url('../fonts/FiraSans-Regular.ttf') format('truetype'); */
    /* src: url('../fonts/FiraSans-Bold.ttf') format('truetype'); */
}


* {
    /*color: #7F9C85;*/
    color: #000;
    background: #FFF;
    /* font-family: 'Liberation Serif', 'Noto Serif', 'Times New Roman'; */
    font-family: 'Linux Libertine', 'Times New Roman';
}

.math {
    font-size: 0.8em;
    /* color: #667E6E; */
    /* font-family: 'Linux Libertine', 'Times New Roman'; */
}

body {
    max-width: 800px;
    margin: 0 auto;
    /* line-height: 36px; */
    line-height: 23px;
    font-size: 17px;
    padding-left: 320px;
    padding-right: 20px;
    word-wrap: normal;
    margin-left: 60px;
    margin-right: 60px;
}

body a {
    text-decoration: none;
    color: #667E6E;
}

strong {
    font-weight: bold;
}

p a {
    word-wrap: break-word;
    /* white-space: pre; */
}

/* a[href^='#']::after { */
/*     content: "🔗"; */
/*     margin-left: 0.3em; */
/* } */

/* a[href^='https://']::after, */
/* a[href^='http://']::after, */
/* a[href^='www.']::after { */
/*     content: "🔗"; */
/*     margin-left: 0.3em; */
/* } */

caption {
    caption-side: bottom;
    text-align: left;
}

blockquote {
    border-left: 3px solid #eee;
    margin-left: 20px;
    padding-left: 20px;
}

::selection {
    background-color: #E4E4E4;
}

kbd
{
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-family: 'Menlo';
    font-size: 11px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.7em;
}

/* Código
----------------------------------------------------------------------------- */
/* code { */
/*   font-size: 0.65em; */
/* } */

code,
code span {
    font-family: 'Source Code Pro', 'Courier', 'Menlo';
    font-size: 0.83em;
    padding: 0.1em;
}

pre code,
div pre code {
    display: block;
    /* font-size: 0.83em; */
    padding: 0.2em 0.5em;
    /*border: solid 1px #748601;*/
    overflow-x: scroll;
    /*background: #F7FFF9;*/
}

/*div pre code span {
    font-family: 'Fira Mono';
    font-size: 0.8em;
    /*background: #101311;*/
    /*background: #b0b0b0;*/


code.sourceCode co {
    font-style: italic;
}



/* Tablas
----------------------------------------------------------------------------- */
table {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    /*background: #EDFAEB;*/
}

table caption {
    font-family: 'Linux Biolinum O';
    font-size: 0.9em;
}

table th {
    border-bottom: 3px solid #748601;
    /* background-color: #E2F1E0; */
    font-family: 'Linux Biolinum O';
    padding: 1ex;
}

table tr {
    padding: 0;
    margin: 0;
    background: #EDFAEB;
}

table tr.even {
    background: #e9e9e9;
}

table td {
    margin: 0;
    padding: 3px 5px;
}

dl dt {
    font-weight: bold;
}



p span.added {
    color: green;
    background-color: #FFF3C5;
}

p span.removed {
    color: red;
    background-color: #FFF3C5;
}

#title-page {
    padding: 100px 0;
}




/* Tabla de contenidos
----------------------------------------------------------------------------- */
#TOC {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    background: #d5d5d5;
    width: 300px;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    /*color: #ABCAB2;*/
}

::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background-color: #F7FFF9;
    /*background-color: #CEE7D6;*/
}

::-webkit-scrollbar-thumb {
    background-color: #A5BEAD;
    /*background-color: #565656;*/
    /* border-radius: 3px; */
}

#TOC > ul {
    padding-right: 10px;
    background: #d5d5d5;
}

#TOC ul {
    list-style: none;
    padding-left: 20px;
    background: #d5d5d5;
}

#TOC ul li a {
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    /*color: #ABCAB2;*/
    background: #d5d5d5;
    border: none;
    font-family: sans-serif;
}

#TOC ul li a:hover,
#TOC ul li a code:hover {
    color: #748601;
}

.toc-section-number,
#TOC ul li a,
#TOC ul li a code {
    color: #222;
    background: #d5d5d5;
    font-family: 'Linux Biolinum O';
    /*color: #316542;*/
}



/* Figuras
----------------------------------------------------------------------------- */
/*figure {
    display: grid;
    grid-template-columns: 350px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
/*}*/

/*.figure img {
    /*margin: 0 auto;*/
    /*width: 100%;*/
/*}*/

figcaption {
    text-align: center;
    font-style: italic;
}

/*figure .plot {
    /*margin: 0 auto;*/
    /*width: 350px;*/
    /*max-width: 350px;*/
/*}*/

div#plots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}









footer {
    font-family: 'Linux Biolinum O';
}

a.footnoteRef sup{
    font-size: 0.8em;
    font-style: italic;
    color: #667E6E;
}

.caption {
    font-family: 'Linux Biolinum O';
    font-size: 0.9em;
}



/* Primera página
----------------------------------------------------------------------------- */
.title,
.author,
.date {
    font-family: 'Linux Biolinum O';
    /* font-family: sans-serif; */
    font-weight: bold;
    /* color: #A5BEAD; */
}


.title {
    font-size: 1.85em;
}

.author {
    font-size: 0.85em;
}

.date {
    font-size: 0.75em;
}



/* Entornos
----------------------------------------------------------------------------- */

div.abstract {
    padding: 3em;
}

div.abstract p,
div.abstract p em {
        font-family: 'Linux Biolinum O';
}



div.digresion,
div.theorem {
    /*background-color: #748601;
    border-width: 5px;
    border-radius: 10px;
    border-color: #71a651;*/
    /*display: block;*/
    /*border-top: 0.1em;*/
    padding: 0.8em;
    border-radius: 0.2em;
    /*background-color: #303030;*/
    /*color: #748601;*/
    border: 2px solid #A0E8A6;
}





/* Headings
----------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6,
.header-section-number {
    /* color: #A5BEAD; */
    font-family: 'Linux Biolinum O';
    font-weight: bold;
}

h1 {
    padding-top: 200px;
    line-height: 50px;
    font-size: 1.9rem;
}

h2 {
    padding-top: 30px;
    font-size: 1.5rem;
}

h3 {
    padding-top: 20px;
    font-size: 1.3rem;
}

h4 {
    padding-top: 10px;
}

h2 code {
    color: #A5BEAD;
}









/*dl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}*/

/*dt:before {
  content: "";
  display: block;
}*/

/*dt, dd {
    display: inline-flex;
    float: left;
}*/

/*dd:after {
    clear: both;
}*/





